<div class="container">
    
<h1> Pick rock, paper, or scissors</h1>

<div class="row">
<div class="col 14">
<h2> Rock </h2>
<a href="/throw/rock">
<img src="http://www.clker.com/cliparts/I/i/X/C/i/k/you-rock-hi.png" width="150px">
</a>
</div>

<div class="col 14">
<h2> Paper </h2>
<a href="/throw/paper">
<img src="http://www.public-domain-photos.com/free-cliparts-svg/other/office/paper_01.svg" width="150px">
</a>
</div>

<div class="col 14">
<h2> Scissors </h2>
<a href="/throw/scissors">
<img src="http://www.clker.com/cliparts/3/3/6/6/11949849891750717131sakset1.svg.med.png" width="150px">
</a>

</div>
</div>
</div>